{% extends '_base_list.html' %}
{% load i18n static %}
{% block table_search %}{% endblock %}
{% block table_container %}
    <div class="pull-left m-r-5"><a href="{% url 'ops:bulk-change-password-task-create' %}" class="btn btn-sm btn-primary ">{% trans "Create bulk change password task" %}</a></div>
    <table class="table table-striped table-bordered table-hover " id="sync_instance_task_list_table" >
        <thead>
        <tr>
            <th class="text-center">
                <input id="" type="checkbox" class="ipt_check_all">
            </th>
            <th class="text-center">{% trans 'Name' %}</th>
            <th class="text-center">{% trans 'Account' %}</th>
            <th class="text-center">{% trans 'Run count' %}</th>
            <th class="text-center">{% trans 'Instance count' %}</th>
            <th class="text-center">{% trans 'Comment' %}</th>
            <th class="text-center">{% trans 'Date last sync' %}</th>
            <th class="text-center">{% trans 'Action' %}</th>
        </tr>
        </thead>
    </table>

{% endblock %}

{% block content_bottom_left %}{% endblock %}
{% block custom_foot_js %}
    <script>


        $(document).ready(function() {
            var options = {
                ele: $('#sync_instance_task_list_table'),
                buttons: [],
                columnDefs: [
                    {targets: 1, createdCell: function (td, cellData, rowData) {
                            var detail_btn = '<a href="{% url "xpack:cloud:sync-instance-task-detail" pk=DEFAULT_PK %}">' + cellData + '</a>';
                            $(td).html(detail_btn.replace('{{ DEFAULT_PK }}', rowData.id));
                        }},
                    {targets: 3, createdCell: function (td, cellData, rowData) {
                            var history_btn = '<a href="{% url "xpack:cloud:sync-instance-task-history" pk=DEFAULT_PK %}">' + cellData + '</a>';
                            $(td).html(history_btn.replace('{{ DEFAULT_PK }}', rowData.id));
                        }},
                    {targets: 4, createdCell: function (td, cellData, rowData) {
                            var instance_btn = '<a href="{% url "xpack:cloud:sync-instance-list" pk=DEFAULT_PK %}">' + cellData + '</a>';
                            $(td).html(instance_btn.replace('{{ DEFAULT_PK }}', rowData.id));
                        }},
                    {targets: 6, createdCell: function (td, cellData, rowData) {
                            var date_last_sync = new Date(cellData);
                            $(td).html(date_last_sync.toLocaleString());
                        }},
                    {targets: 7, createdCell: function (td, cellData, rowData) {
                            var run_btn = '<a class="btn btn-xs btn m-l-xs btn-info btn_run_sync_instance_task" data-sid="{{ DEFAULT_PK }}">{% trans "Run" %}</a>'
                                .replace('{{ DEFAULT_PK }}', cellData);
                            var del_btn = '<a class="btn btn-xs btn-danger m-l-xs btn_delete_sync_instance_task" data-sid="{{ DEFAULT_PK }}" data-name="99991938">{% trans "Delete" %}</a>'
                                .replace('{{ DEFAULT_PK }}', cellData)
                                .replace('99991938', rowData.name);
                            $(td).html(run_btn + del_btn)
                        }}
                ],
                ajax_url: '{% url "xpack:cloud:api-sync-instance-task-list" %}',
                columns: [
                    {data: function(){return ""}}, {data: "name" }, {data: "account_name"},
                    {data: "history_count"}, {data: "instance_count"}, {data: "comment"},
                    {data: "date_last_sync"}, {data: "id"}
                ],
                order: [],
                op_html: $('#actions').html()
            };
            jumpserver.initDataTable(options);
        })
            .on('click', '.btn_delete_sync_instance_task', function(){
                var $this = $(this);
                var sync_instance_task_id = $this.data('sid');
                var name = $this.data('name');
                var the_url = "{% url 'xpack:cloud:api-sync-instance-task-detail' pk=DEFAULT_PK %}".replace('{{ DEFAULT_PK }}', sync_instance_task_id);
                objectDelete($this, name, the_url)
            })
            .on('click', '.btn_run_sync_instance_task', function(){
                var $this = $(this);
                var sync_instance_task_id = $this.data('sid');
                console.log(sync_instance_task_id);
                var the_url = "{% url "xpack:cloud:api-sync-instance-task-run" pk=DEFAULT_PK %}".replace('{{ DEFAULT_PK }}', sync_instance_task_id);

                var success = function(data) {
                    console.log('sync run success !', data);
                    var taskUrl = '{% url 'ops:celery-task-log' pk=DEFAULT_PK %}'.replace('{{ DEFAULT_PK }}', data.task);
                    window.open(taskUrl, '', 'height=600, width=800, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no');
                };
                APIUpdateAttr({
                    url: the_url,
                    method: 'GET',
                    success_message: "{% trans 'Sync success' %}",
                    success: success
                });
            })
    </script>
{% endblock %}
